body {
    color: #2E2F42;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.feedback-form {
    padding: 24px;
    width: 408px;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    width: 360px;
}

input, textarea {
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

input:hover,
textarea:hover {
    border: 1px solid #000;
}

button{
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    cursor: pointer;
}

button:hover{
    background-color: #6C8CFF;
}